@page "/todo"

<PageTitle>Todo</PageTitle>

<h1>Todo (@Todos.Count(todo => !todo.IsDone))</h1>

<ul>
    @foreach (var todo in Todos)
    {
        <li>
            <p>@todo.Title @todo.Date?.ToShortDateString()</p>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="NewTodo" @bind:event="oninput"/>
<input type="date" data-date-inline-picker="true" @bind:event="onchange" placeholder="Due Date" @bind="Date" />
<button @onclick="AddTodo">Save</button>

@if (!string.IsNullOrWhiteSpace(NewTodo) || Date != null)
{
    <p>@NewTodo Due: @Date?.ToShortDateString()</p>
}

@code {
    private List<TodoItem> Todos = new();
    private string? NewTodo;
    private DateTime? Date = null; 

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(NewTodo))
        {
            Todos.Add(new TodoItem { Title = Date != null ? (NewTodo + " - ") : NewTodo, Date = Date});
            NewTodo = string.Empty;
            Date = null; 
        }
    }
}